<div class="home-oversigt-hoteller-wrapper">

    <div class="home-oversigt-hoteller__title">
        <span>OVETSIGT OVER HOTELLER I KOBENHAVN</span>
    </div>

    <!-- Desktop view -->
    <table class="home-oversigt-hoteller__desktop-table">
        
        <tr class="home-oversigt-hoteller-list__heading">
            <td class="hoteller-list-item__name">
                <span>Hoteller </span>
                <i class="fa fa-sort-down"></i>
            </td>

            <td class="hoteller-list-item__centrum">
                <span>Centrum </span>
            </td>

            <td class="hoteller-list-item__varelser">
                <span>Valrelser </span>
            </td>

            <td class="hoteller-list-item__stjerner">
                <span>Stjerner </span>
            </td>

            <td class="hoteller-list-item__by">
                <span>By </span>
            </td>

            <td class="hoteller-list-item__book">
                <span>Book </span>
            </td>
        </tr>

        <!-- LIST HOTELLER DATA -->
        {{#each home-oversigt-hoteller-list.items}}
         <tr class="home-oversigt-hoteller-list__content">
            <td class="hoteller-list-item__name">
                <span>{{name}} </span>
            </td>

            <td class="hoteller-list-item__centrum">
                <span>{{centrum}} </span>
            </td>

            <td class="hoteller-list-item__varelser">
                <span>{{valrelser}} </span>
            </td>

            <td class="hoteller-list-item__stjerner">
                <span>{{stjerner}} </span>
            </td>

            <td class="hoteller-list-item__by">
                <span>{{by}} </span>
            </td>

            <td class="hoteller-list-item__book">
                <span>Book </span>
            </td>
        </tr>
        {{/each}}
    </table>

    <!-- Mobile view -->
    <div class="home-oversigt-hoteller__mobile-table">
        <div class="home-over-sight-hoteller-antal-stjerner">
            <div class="home-over-sight-hoteller_toggle-button">
                <span>Antal stjerner</span>
                <i class="fa fa-sort-down"></i>
            </div>
        </div>

        <!-- LIST HOTELLER DATA -->
        {{#each home-oversigt-hoteller-list.items}}
         <div class="home-oversigt-hoteller-list__content">
            <div class="hoteller-list-item__name">
                <span>{{name}} </span>
            </div>

            <div class="hoteller-list-item__book">
                <a>Book </a>
            </div>
        </div>

        <div class="hoteller-list-item__details">
            <span>CENTRUM: {{centrum}} KM</span>
            <span><i class="fa fa-circle"></i>VAER: {{valrelser}}</span>
            <span><i class="fa fa-circle"></i>STJERNER: {{stjerner}}</span>
            <span><i class="fa fa-circle"></i>BY: {{by}}</span>
        </div>
        {{/each}}
    </div>

    <div class="home-oversigt-hoteller__se-alle-hoteller">
        <i class="fa fa-sort-down"></i>
        <i class="fa fa-angle-down"></i><span> Se alle hoteller </span>
    </div>

    <div class="home-oversigt-hoteller__inspiration">
        <div class="home-oversigt-hoteller-inspiration__image" 
            style="background-image: url('/public/img/bg_2.jpg')"></div>

        <div class="home-oversigt-hoteller-inspiration__content">
            <p class="inspiration-content__title">Inspiration til overnatning i Kobenhavn</p>
            <p class="inspiration-content__details">
                Samme hotelvarelse - 2 priser. Vi finder den billigste pris til dig! Se oversigten over <a>hoteller i Berlin</a>  
                med Rabathotel. Find inspiration til Kobenhvn <a>Visitcopenhagen.com</a>
            </p>
        </div>
    </div>
</div>